
<!--<div class="container-fluid">-->
    <div class="row p-4" id="custom-first-heading-bg">
        <div class="col-sm-9">
            <h2>The First Heading <span id="custom-first-heading-title">Will Catch Your Eye</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum nice has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <div class="col-sm-3 mt-4">
            <img src="/assets/img/1.jpg" alt="..." class="rounded-circle w-100">
        </div>
    </div>
<!--</div>-->