<div class ="row p-4 bg-white">
    <h2>Portfolio</h2>
    <p>Donec imperdiet nec magna vitae bibendum. Pellentesque sit amet pulvinar ante. Nullam dapibus dolor nunc. Vivamus nibh nulla, posuere vel vestibulum id, vulputate ac magna. Phasellus maximus rhoncus dui</p>
    <div class="row">
        <div class="col">
            <div class="card border-0">
                <img class="card-img-top" src="https://i.imgur.com/eTuCPxM.jpg" alt="Fried Rice">
                <div class="card-body">
                    <h5 class="card-title text-primary">Dog Butter</h5>
                    <p class="card-text">Butter for dogs, or butter made from dogs??</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0">
                <img class="card-img-top" src="https://i.imgur.com/eTuCPxM.jpg" alt="Fried Rice">
                <div class="card-body">
                    <h5 class="card-title text-primary">Cats this time</h5>
                    <p class="card-text">"No, not really."</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0">
                <img class="card-img-top" src="https://i.imgur.com/eTuCPxM.jpg" alt="Fried Rice">
                <div class="card-body">
                    <h5 class="card-title text-primary">Watermelon Truth</h5>
                    <p class="card-text">Watermelons are actually bananas on the inside.</p>
                </div>
            </div>
        </div>
    </div>
</div>